@page
@model AdminMenuModel
@{
}

<h1>Menu</h1>
<hr />
<div>
    <a asp-page="Customers/Index">Customer Management</a>
    <hr />
    <a asp-page="Rooms/Index">Room Management</a>
    <hr />
    <a asp-page="BookingReservations/Index">Booking Management</a>
</div>
