@page
@model CustomerMenuModel
@{
}

<h1>Menu</h1>
<hr />
<div>
    <a asp-page="Customers/EditProfile">Edit Profile</a>
    <hr />
    <a asp-page="BookingReservations/Create">Create Booking</a>
    <hr />
    <a asp-page="BookingReservations/BookingHistory">Booking History</a>
</div>
