@page
@model BookingReservations.BookingHistoryModel

@{
    ViewData["Title"] = "Booking History";
}

<h1>Booking History</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="post">
        <p>Booking date from <input asp-for="BookingDateFrom" /> to <input asp-for="BookingDateTo" /></p>
        <p>Price from <input asp-for="PriceFrom" /> to <input asp-for="PriceTo" /></p>
        <input type="submit" value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Booking Date</th>
            <th>Total Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookingList)
        {
            <tr>
                <td>
                    @if (item.BookingDate.HasValue)
                    {
                        @item.BookingDate.Value.ToShortDateString()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.BookingReservationId">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.BookingReservationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="../CustomerMenu">Back to Menu</a>
</div>