@page
@model BookingReservations.CreateModel

@{
    ViewData["Title"] = "Create Booking";
    int userRole = HttpContext.Session.GetInt32(Constants.SessionConst.UserRoleKey) ?? (int)Enums.UserRole.None;
}

<h1>Create Booking</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (userRole == (int)Enums.UserRole.Admin)
            {
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers"></select>
                </div>
            }
            else if (userRole == (int)Enums.UserRole.Customer)
            {
                <input type="hidden" asp-for="CustomerId" />
            }
            <div class="form-group">
                <label class="control-label">Start date</label>
                <input type="date" value="" asp-for="StayStart" class="form-control" />
                <span asp-validation-for="StayStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End date</label>
                <input type="date" value="" asp-for="StayEnd" class="form-control" />
                <span asp-validation-for="StayEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Search available rooms" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (userRole == (int)Enums.UserRole.Admin)
{
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}
else if (userRole == (int)Enums.UserRole.Customer)
{
    <div>
        <a asp-page="../CustomerMenu">Back to Menu</a>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
